<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DenseNet Prediction Results</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            padding-top: 40px;
            background: #f8f9fa;
        }
        .container {
            background: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
        }
    </style>
</head>
<body>
<div class="container">
    <h1 class="text-center">DenseNet Prediction Results</h1>
    <p class="text-center">DenseNet Prediction: {{ densenet_class }}</p>
    <a href="/" class="btn btn-primary d-block mx-auto" style="width: 200px;background-color:#c3c3d5; color:black;border-color:#735366;">Back to Home</a>
</div>
</body>
</html>
